* { box-sizing: border-box; }
*::-moz-focus-inner {
    padding: 0;
    border: 0
}
html, body {
    margin: 0;
    padding: 15px;
    background: #0f0f23;
    color: #cccccc;
    font-family: "Source Code Pro", monospace;
    font-size: 12pt;
    line-height: 16pt;
}
header {
    padding: 15px;
}
main {
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}
main.centered {
    align-items: center;
}
main.calendars {
    flex-direction: row;
    flex-wrap: wrap;
}
main.calendars article {
    margin: 0 16px;
}
pre {
    font-family: "Source Code Pro", monospace;
    max-width: 300px;
    word-break: break-all;
}
code {
    color: #999999;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
}
code::before {
    content: "";
    position: absolute;
    display: block;
    left: -2px;
    right: -2px;
    top: 0;
    bottom: 0;
    border: 1px solid #333340;
}
a {
    text-decoration: none;
    color: #009900;
}
a:hover {
    color: #99ff99;
}
.content {
    display: flex;
    align-items: stretch;
}
.input-file {
    position: relative;
}
.input-file input[type="file"] {
    opacity: 0;
    position: absolute;
    display: block;
    cursor: pointer;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
button {
    position: relative;
    z-index: 1;
    cursor: pointer;
    background: transparent;
    color: #009900;
    padding: 10px;
    font-size: 1rem;
    border: solid 1px #009900;
    font-family: "Source Code Pro", monospace;
    white-space: nowrap;
}
.input-file input[type="file"]:hover + button,
.input-file input[type="file"]:focus + button,
button:hover,
button:focus {
    cursor: pointer;
    color: #99ff99;
    border-color: #99ff99;
}
table {
    border-collapse: collapse;
}
table td {
    border: solid 1px #999999;
    padding: 15px;
    font-size: 1.5rem;
}
article {
    margin-bottom: 2em;
    margin-top: 2em;
}
article:first-child {
    margin-top: 0;
}
article h2 {
    color: #ffffff;
    margin-top: 1em;
    margin-bottom: 1em;
    white-space: nowrap;
}
article h2 + * {
    margin-top: 0;
}
article em {
    color: #ffffff;
    font-style: normal;
    text-shadow: 0 0 5px #ffffff;
}
article em.star {
    color: #ffff66;
    font-style: normal;
    text-shadow: 0 0 5px #ffff66;
}
article ul {
    list-style-type: none;
    padding: 0;
}
article li {
    padding-left: 2.5em;
    position: relative;
}
article li::before {
    content: '\00a0\00a0-\00a0';
    position: absolute;
    left: 0;
    top: 0;
}
footer {
    padding: 15px;
    text-align: center;
}
